
RewriteEngine on
RewriteCond %{HTTP_HOST} ^eret\.shakti\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.eret\.shakti\.id$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/eret\.shakti\.id\/public\/admin" [R=301,L]

